[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
sysinfo.txt
*.stacktrace
*.apk
*.aab
*.unitypackage
